.navbar.d-flex.mb-3(style="justify-content : space-between; background-color : #212529; color : white; margin : 0 -15px")
    span(style="text-align : center; margin-left : 20px")
        button#btn-close-sidebar(
            style="background-color : transparent; border : 0; transition-duration : .3s"
            )
            i.fas.fa-bars(style="color : white")
    h2(style="font-weight : 600; letter-spacing : 1.5px; margin-bottom : 5px") Space Admin
    .account(style="border-radius : 1rem; text-align : center; margin-right : 20px")
        img(src="#" alt="Admin" width='40' height='40' style="object-fit : cover; border-radius : 1rem;")