extends ../layout/common.pug

block formLogin
  div.justify-content-center.row.mt-5
      div.col-xl-4.col-md-7
        form.shadow-lg.bg-white(action="/login" method="POST" style="width:100%; border : 5px solid #f1f1f1; border-radius : 1rem ; padding : 1rem " id='formLogin')
          h4.mb-2(style="text-align : center") Sign In
          if error
            .alert.alert-danger= error
          .form-floating
            input.mb-4(type='text' id="email" name="email" value= email ? this.email : '' class="form-control form-control-sm" placeholder="Email" style="border : none ; border-bottom : 2px solid black ; outline : none ; background : transparent ; border-radius : unset")
            label(for="email" style="transition : .5s") Email
          .form-floating
            input.mb-4(type='password' id="password" name="password" style="border : none ; border-bottom : 2px solid black ; outline : none ; background : transparent ; border-radius : unset" class="form-control form-control-sm" placeholder="Password")
            label(for="password" style="transition : .5s") Password
          a.forgot-ps-link.mb-3(href="#" style="text-decoration : unset; float : right") Forgot your password ? 
          button.btn.btn-dark(style="width : 100%") Sign In 