extends ../../layout/common.pug

block myAccount
    .row
        nav.navbar.navbar-light.bg-light.nav-pills.flex-column(id="myaccount" style="border : 2 ; border-radius : 1rem; position : fixed ; top : 100px ; width : 17%; ")
            a.navbar-brand(href="#" style="margin-right : unset") Account
            nav.nav.flex-column(style="margin-bottom : 1rem")
                .navbar-nav
                    a.nav-link(href="/account/my/information") Personal Information
                    a.nav-link.active(href="/account/my/user" style="background-color : unset" ) Change password
                    a.nav-link(href=(currentUser) ? `/account/my/order/${currentUser.id}` : '/account/my/order' ) My order
        .col-md-3
        .col-md-5
            form.pt-2(action="/account/change-password" method='POST' style="border : 2px solid grey; border-radius : 1rem ; ")
                .container(style="padding : 1rem")
                    h4.mb-3 Change password
                    .row.mb-2
                        .col-md-12
                            label.mb-1 Email
                            input(type='text' name="email" class="form-control" value=(currentUser) ? currentUser.email : '' disabled)                   
                    .row.mb-2
                        .col-md-12
                            label.mb-1 New Password
                            input(type='password' name="password" class="form-control")
                    .row.mb-2
                        .col.md-12
                            label.mb-1 Confirm Password
                            input(type='password' name="re_password" class="form-control" )
                    hr
                    .row.mb-2.justify-content-center
                        .col-md-4
                            #submitArea
                                button.btn.btn-dark(type="submit" style="width : 100%") Submit