extends ../../layout/common.pug

block myAccount
    .row
        nav.navbar.navbar-light.bg-light.nav-pills.flex-column(id="myaccount" style="border : 2 ; border-radius : 1rem; position : fixed ; top : 100px ; width : 17%; ")
            a.navbar-brand(href="#" style="margin-right : unset") Account
            nav.flex-column(style="margin-bottom : 1rem")
                .navbar-nav
                    a.nav-link(href="/account/my/information") Personal Information
                    a.nav-link(href="/account/my/user") Change password
                    a.nav-link.active(href=(user) ? `/account/my/order/${user.id}` : '/account/my/order' style="background-color : unset") My order
        .col-md-3
        .col-md-9
            form.pt-2(action="" style="border : 2px solid grey; border-radius : 1rem ; padding : 1rem ")
                .table-responsive
                    table.table.table-hover
                        thead
                            tr
                                th(scope='col') ID 
                                th(scope='col') Name
                                th(scope='col') Phone
                                th(scope='col' style="text-align : center" ) Date | Time
                                th(scope="col") Status
                                th(scope='col') Total
                                th(scope='col') 
                        tbody
                            -if(order && order.length === 0) {
                                tr
                                    th(colspan=6)= "There is no order matched"
                            -}
                            each each in order
                                include orderRow.pug
                
