body {
    font-family: 'Roboto';
    background: linear-gradient(90deg, #c0c0c0 ,#e7e7e7);
	background-size: 100% 100%;
}
html {
    height: 100%
}
::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px; */
    background-color: rgb(0,0,0,.3) !important;
}

::-webkit-scrollbar
{
    width: 17px;
    background-color: rgb(0,0,0,.3);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #A9A9A9;
    background-color: #A9A9A9;
    border: 3px solid transparent !important;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #D3D3D3;
}
.series {
    padding-top : 1rem;
    padding-bottom: 1rem;
}

.item-new {
    cursor: pointer;
}

.item-new .card {
    transition : transform .5s;
}
.item-new .card:hover {
    box-shadow : 10px 10px 5px #888888;
    transform : rotate(2deg);
}
.product-item {
    transition : transform .5s;
    cursor: pointer;
    height: 450px;
    border-radius: 1rem;
    border: unset !important;
}

.product-item {
    font-size: 18px;
}

.product-item img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.product-item p.card-title {
    height: 60px;
}

.product-item:hover {
    box-shadow : 10px 10px 5px #888888;
    transform : scale(1.05);
}

.btn-signin {
    margin-right: 3px;
}

#add-to-cart:hover,
button.detailBtn:hover,
#submitArea a:hover,
#submitArea button:hover,
#formLogin button:hover,
#cancelBtn:hover,
.btn-signin:hover,
.btn-signup:hover  {
    color : black;
    background-color : white; 
}

#addItem button#add-to-cart {
    width: 100%;
}

#addItem {
    width: auto;
}

#addItem {
    position: absolute;
    bottom: 20px;
    right : 20px;
    left: 20px;
}

.toast {
    position : fixed;
    right : 0;
    top : 100px;
    z-index : +1;
    height: 75px;
}

.toast .d-flex {
    position: absolute;
    top : 50%;
}

.modal {
    height: unset !important;
}

.modal-content {
    transform: translateY(-25px);
}

.product-gallery {
    height: 550px;
    margin-right : 1rem;
}
.product-gallery img {
    width: 100%;
    object-fit: cover;
    height: 550px;
    border-radius: 0.5rem;
}
.product-gallery button.carousel-control-next {
    right: -50px;
}
.product-gallery button.carousel-control-prev {
    left: -50px;
}

#detail-product {
    padding-right : 3rem;
    padding-left: 3rem ;
}

.selection-product img {
    height: 70px !important;
    width: 70px !important;
    margin: 4px;
    border-radius: 0.5rem;
}
.selection-product .carousel-item {
    display: flex;
    justify-content: center;
}
.selection-product .carousel-item div:hover {
    transform: scale(1.1);
}
.card button.detailBtn {
    position : absolute;
    top : 0;
    right : 0;
    border-radius : 0 0.5rem 0;
}

#navbar-space {
    transition: top .3s;
}

#navbar-space li.nav-item:hover > .nav-link,
#subnav-space .list-group .list-group-item:hover,
#navbar-space #brandSpace .list-group .list-group-item:hover  {
    background-color : 	#A9A9A9;
    color: white;
}

#navbar-space li.nav-item .nav-link {
    border-radius : .5rem;
    margin-right : 3px;
}

#myAccount button {
    color: rgba(0,0,0,.55);
}

#navbar-space li.account-area:hover {
    background-color: unset;
}

a.forgot-ps-link:hover {
    text-decoration: underline !important;
}

nav li.signin-area p {
    margin-bottom: unset;
    height: 50%;
    transform: translate(-10px,10px);
}

nav li.signin-area:hover {
    background-color: unset !important;
}

#space-brand {
    margin-bottom: unset;
}

#filter-sidebar a {
    text-decoration: unset !important;
    color: black;
}

#filter-sidebar a:hover {
    color: #A9A9A9;
}

#product-tab .nav-link a {
    text-decoration: unset;
    color: rgba(0,0,0,.55);
}

#product-tab:hover > .nav-link a {
    color: white;
}

#product-tab:hover > .nav-link a i#parent-unexpanded {
    transform: rotate(180deg) !important;
    transition: .3s ease;
}

#product-tab #product-expand {
    display: none;
}


#subnav-space {
    width: 500px;
    z-index: 2000;
    display: none;
    max-height: max-content;
}

#subnav-space .list-group-item {
    box-shadow: 7px 7px 10px black;
}

#subnav-space .list-group-item {
    cursor: pointer;
}

#product-tab:hover > #subnav-space,
#subnav-space:hover > #subnav-space {
    display: block;
    position: absolute;
}

.list-group {
    width: 50%;
    max-height : 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}

.list-group .list-group-item {
    margin: .1rem;
    border-radius: .5rem;
    width: 170px;
}


.tab-filter {
    position: fixed;
    height: 50px;
    top: 70px;
    width: 100%;
    box-shadow: 0 0 20px 2px #A9A9A9;
    background-color: white;
    z-index: 1000;
    max-width: 2000px;
    overflow-x: auto;
}

.tab-filter button#btn-brand-expanded {
    display: none;
}

.tab-filter #cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding-top: 2px;
}

.tab-filter #cd-filter li {
    display: inline-block;
    height: 100%;
}

.tab-filter #cd-filter a {
    display: inline-block;
    padding: 0 1rem;
    width: auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    color: #A9A9A9;
    margin-top: 3px;
}

.tab-filter #cd-filter li.filter {
    /* border-radius: .5rem; */
    transition: .3s ease;
}

.tab-filter #cd-filter li.filter:hover {
    border-bottom: 5px solid #A9A9A9;
}


.tab-filter #cd-filter li.filter:hover > a {
    transform: translate(0,-3px);
}

video {
    border-radius: 1rem;
    animation: hideAnimation 0s linear 5s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.alerts {
  position: fixed;
  top: 120px;
  right: -500px;
  width: 400px;
  min-height: 300px;
  z-index: 2000;
}

#alertWarning {
    animation: slideIn 3s linear 0s forwards;
    animation-fill-mode: forwards;
    -webkit-animation: slideIn 3s linear 0s forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes hideAlert {
    0%   {opacity: 1;}
    30%  {opacity: 0.7;}
    50%  {opacity: 0.5;}
    80%  {opacity: 0.3;}
    90%  {opacity: 0.1;}
    100% {opacity: 0;}
}

@keyframes slideOut {
    0% {
        right: 50px;
    }

    100% {
        right: -500px;
    }
}

@keyframes slideIn {
    5% {
        right : 50px
    }

    7% {
        right : 30px
    }

    93% {
        right : 30px
    }

    95% {
        right: 50px;
    }
    
    100% {
        right: -500px;
    } 
}

.alerts .alert {
    position: relative;
    border: none !important;
    margin-bottom: 8px;
    text-shadow: 0 -1px 1px rgba(0,0,0,.2);
}
.alerts .alert #icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -15px;
    width: 80px;
    text-align: center;
}
.alerts .alert .copy {
    margin-left: 60px;
    padding-left: 20px;
    border-left: 1px solid rgba(255,255,255,.3);
    line-height: 1.2; 
    }
.alerts .alert .copy h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    }
.alerts .alert .copy p {
    font-size: 14px;
    margin-bottom: 0;
}
.alerts .alert .close {
    opacity: 1;
    background-color: #eee;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}
.alerts .alert .alert-info {
    background-color: #A3ADB2;
    color: #eee;
    box-shadow: 0 0 20px 5px fade(#A3ADB2, 50%);
}
.alerts .alert .alert-info .close {
    color: #A3ADB2;
    border-color: #A3ADB2;
}
.alerts .alert .alert-success {
    background-color: #A4B123;
    color: #eee;
    box-shadow: 0 0 20px 5px fade(#A4B123, 50%);
}
.alerts .alert .alert-success .close {
    color: #A4B123;
    border-color: #A4B123;
}

.alerts .alert-warning {
    background-color: #E7B600;
    color: #eee;
    box-shadow: 0 0 20px 5px hsl(47, 100%, 85%);
}
.alerts .alert-warning .close {
    color: #E7B600;
    border-color: #E7B600;
    cursor: pointer;
}
.alerts .alert-warning .close i {
    margin-top: 4px;
}
.alerts .alert-danger {
    background-color: #C20000;
    color: #eee;
    box-shadow: 0 0 20px 5px fade(#C20000, 30%);
}
.alerts .alert .alert-danger .close {
    color: #C20000;
    border-color: #C20000;
}

#brand-expanded {
    z-index: 3 !important;
}

#btn-searchProduct {
    color: white;
}

button#btn-searchProduct:hover ~ #inputSearch,
#inputSearch:hover {
    width: 80%;
}

#inputSearch {
    width: 0%;
    border : 0;
    color: white;
    padding: unset;
    border-bottom: 2px solid white;
    background-color: transparent !important;
    transition: width .5s;
}

input#inputSearch::placeholder {
    color: white;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .2s;
}


button#btn-searchProduct:hover ~ #inputSearch::placeholder,
#inputSearch:hover ~ #inputSearch::placeholder {
    color: white;
    opacity: 1;
}

#inputSearch:focus {
    outline : none;
}

#filterLink {
    color: white;
    text-decoration: none;
    height: max-content;
    padding-right: 15px;
    border-right: 3px solid white;
}

#filterLink > p {
    margin : unset;
}


#filterBar {
    align-items: center;
    z-index: 1;
}

hr {
    color: white;
    margin-top: -10px !important;
    margin-bottom: 2rem !important;
    opacity: 1;
    border: 1px solid white;

}


select#sortSelect {
    width : max-content;
    margin-left : 10px;
    float : right;
    border: 0;
    outline: 0;
    box-shadow: none;
    border-radius: .5rem;
}

.accordion-button:not(.collapsed) {
    color: #A9A9A9;
    background-color: white;
}

.accordion-button:focus {
    box-shadow: 0 0 0 .25rem rgb(169,169,169, 25%) !important;
    border-color: #A9A9A9;
    border: 0;
    outline: 0 !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-item {
    background-color : transparent;
    border: 2px solid black;
}

.accordion-body > p {
    background-color: transparent;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
      }
}

@media (min-width : 992px) {
    #brandSpace {
        display: none;
    }

    #navbar-space #icon {
        display: none;
        padding-right: 5px;
    }

    #navbar-space hr {
        display: none;
    }

    #tab-filter {
        display: none;
    }
}

@media (max-width : 992px) {
    .container {
        max-width: unset;
        width: 100% !important;
    }
    nav li.nav-item {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    nav li.nav-item {
        margin-bottom: .5rem !important;
    }

    nav li.nav-item .nav-link {
        padding: unset;
    }
    nav li.signin-area:hover {
        background-color: unset !important;
    }

    nav li.signin-area .d-flex {
        display: unset !important;
    }

    nav li.signin-area p {
        transform: unset;
        margin-bottom: 10px;
    }

    form#form-signup .information-area {
        border-left: unset !important;
    }
    button.detailBtn,
    button#btn-next,
    button#btn-prev {
        display: none !important;
    }

    #detail-product {
        width: 100%;
        font-size: small;
    }

    #detail-product .selection-product {
        margin-bottom: 1rem;
    }

    #detail-product .information-product {
        border-top: 3px ridge;
        padding-top: 1rem;
        margin-bottom: 1rem;
        /* border: 5px outset; */
        /* padding : 1rem;
        width: 100%; */
    }

    #detail-product p {
        margin-bottom: unset;
    }

    #offcanvas-space,
    #brand-expanded {
        z-index: 2000 !important;
    }

    #filter-sidebar {
        display: none;
    }

    #product-tab #product-expand {
        display: unset;
    }

    #product-tab i#parent-unexpanded {
        display: none !important;
    }

    #product-tab a#product-expand {
        float: right;
    }

    #brandSpace {
        width: 100%;
    }

    #product-tab:hover > .nav-link a {
        color: black !important;
    }

    #myAccount > button#dropdownMenuButton {
        background-color: inherit;
        border-color: white;
        padding: .5rem !important;
    }

    .account-area .d-flex > a.nav-link {
        transform: translate(10px,10px);
    } 

    #myAccount:hover > button#dropdownMenuButton {
        background-color: #A9A9A9;
        color: white;
    }

    #subnav-space {
        display: none !important;
    }

    nav li.nav-item:hover > .nav-link {
        color: unset !important;
        background-color: unset !important;
    }

    #brandSpace {
        margin-top: 10px;
    }
    #brandSpace .list-group-item {
        border: unset;
        border-radius: .5rem ;
    }

    #navbar-space li.nav-item .nav-link #icon {
        margin-right: 10px;
    }
    .tab-filter button#btn-brand-expanded {
        display: block;
        margin: auto;
        width: 50%;
    }

    .tab-filter button#btn-brand-expanded i {
        margin-right: 10px;
    }
    
    .tab-filter #cd-filter {
        display: none;
    }

    #brand-expanded {
        height: 100%;
        background-color: white;
        font-size: 30px;
    }

    #brand-expanded .cd-filter {
        text-align: center;
        list-style: none;
    }

    #brand-expanded .cd-filter li {
        padding: 0 5px 0 5px;
    }
    #brand-expanded .cd-filter li a {
        text-decoration: none;
        color: #A9A9A9;
    }

    #brand-expanded .offcanvas-header h1 {
        color: #A9A9A9;
    }

    #brand-expanded .cd-filter li:hover {
        background-color: #A9A9A9;
    }
    #brand-expanded .cd-filter li:hover > a {
        color: white;
    }
    
    .series {
        grid-auto-columns: 245px !important;
    }

    .series > .item-new {
        height : 350px !important;
        width: 245px !important;
    }

    .series .item-new > .card {
        width: inherit !important;
        height: inherit !important;
        font-size: 16px !important;
    }
}
