.series::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.series::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.series::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: cyan;
}
.series {
    padding : 2rem;
}

.item-new {
    cursor: pointer;
}

.item-new .card {
    transition : transform .5s;
}
.item-new .card:hover {
    box-shadow : 10px 10px 5px #888888;
    transform : rotate(2deg);
}
.product-item {
    transition : transform .5s;
    cursor: pointer;
}
.product-item:hover {
    box-shadow : 10px 10px 5px #888888;
    transform : scale(1.05);
}

.btn-signin {
    margin-right: 3px;
}

#add-to-cart:hover,
button.detailBtn:hover,
#submitArea a:hover,
#submitArea button:hover,
#formLogin button:hover,
#cancelBtn:hover,
.btn-signin:hover,
.btn-signup:hover  {
    color : black;
    background-color : white; 
}
.toast {
    position : fixed;
    right : 0;
    top : 100px;
    z-index : +1;
}
.product-gallery {
    height: 550px;
    margin-right : 1rem;
}
.product-gallery img {
    width: 100%;
    object-fit: cover;
    height: 550px;
    border-radius: 0.5rem;
}
.product-gallery button.carousel-control-next {
    right: -50px;
}
.product-gallery button.carousel-control-prev {
    left: -50px;
}
.selection-product img {
    height: 70px !important;
    width: 70px !important;
    margin: 4px;
    border-radius: 0.5rem;
}
.selection-product .carousel-item {
    display: flex;
    justify-content: center;
}
.selection-product .carousel-item div:hover {
    transform: scale(1.1);
}
.card button.detailBtn {
    position : absolute;
    top : 0;
    right : 0;
    border-radius : 0 0.5rem 0;
}
#navbar-space a.nav-link:hover  {
    background-color : rgba(0,0,0,.55);
    color : white !important;
}
#navbar-space a.nav-link {
    border-radius : .5rem;
    margin-right : 3px;
}

a#icon-cart:hover {
    background-color : white
}

#myAccount button {
    color: rgba(0,0,0,.55);
}

.carousel-inner {
    border-radius: 1rem;
}
