footer.footer-59391
    .container
      .row.align-items-center
        .col-lg-3
          form.subscribe.mb-4.mb-lg-0(action='#')
            .form-group
              input.form-control(type='email' placeholder='Enter your email')
              button
                i.fas.fa-arrow-right
        .col-lg-6.text-lg-center
          ul.list-unstyled.nav-links.nav-left.mb-4.mb-lg-0
            li
              a(href='#') Blog
            li
              a(href='#') Product
        .col-lg-3
          ul.list-unstyled.nav-links.social.nav-right.text-lg-right
            li
              a(href='#')
                i.fab.fa-facebook-f
            li
              a(href='#')
                i.fab.fa-instagram
            li
              a(href='#')
                i.fas.fa-envelope
