nav#navbar-space(class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding : 0.5rem")
    .container-fluid
        a.navbar-brand(href="#") Space
        button.navbar-toggler(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-space" aria-controls="offcanvas-space" )
            span.navbar-toggler-icon
        div.offcanvas.offcanvas-end(id="offcanvas-space" tabindex="-1" aria-labelledby="space-brand")
            .offcanvas-header
                h1#space-brand Space
                button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
            .offcanvas-body
                ul.navbar-nav
                    li.nav-item
                        a.active(href='/',class="nav-link")
                            i.fa.fa-home.fa-lg#icon
                            ='Home'
                        hr
                    li.nav-item
                        a(href="#" class="nav-link")
                            i.fab.fa-blogger.fa-lg#icon(style="margin-left : 3px; margin-right : 15px")
                            ='Blog'
                        hr
                    li.nav-item#product-tab
                        .nav-link
                            a(href="/product/all")
                                i.fas.fa-tshirt.fa-lg#icon
                                ='Product'
                                i.fa.fa-fw.fa-caret-down#parent-unexpanded
                            a#product-expand(href="#" data-bs-toggle="collapse" data-bs-target="#brandSpace") 
                                i.fa.fa-fw.fa-caret-down#parent-expanded(style="vertical-align : center")
                        .collapse#brandSpace
                        .sub-nav#subnav-space
                        hr
                ul.navbar-nav.ms-auto
                    -if(currentUser) {
                        li.nav-item.account-area
                            .d-flex 
                                a.nav-link(id="icon-cart" href=(currentUser) ? "/account/my/checkout" : "/login" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Shopping cart" )
                                    svg(style="" width="30px" height="30px" varia-hidden="true" focusable="false" data-prefix="fas" data-icon="cart-shopping" class="svg-inline--fa fa-cart-shopping" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512")
                                        path(d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z")
                                    - var quantity;
                                    - if (users && currentUser) {
                                    -   users.forEach(user => {
                                    -       if(user.id === currentUser.id) {
                                    -           quantity = user.quantity
                                    -}
                                    -})
                                    -}
                                        span.translate-middle.badge.rounded-pill.bg-danger(style="top : 15px; font-size : 12px")= quantity
                                .dropdown.nav-link#myAccount
                                    button.btn.btn-light.dropdown-toggle(style="padding : unset" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")= (currentUser.lastname && currentUser.firstname) ? currentUser.lastname + ' ' + currentUser.firstname : currentUser.email
                                    ul.dropdown-menu(style="right : 0.35rem; top : 2.5rem ; left : unset" aria-labelledby="dropdownMenuButton")
                                        li
                                            a.dropdown-item(href="/account/my/information" ) My Account
                                        li
                                            a.dropdown-item(href="/account/my/checkout") Checkout
                                        .dropdown-divider
                                        li
                                            a.dropdown-item(href="/logout") Logout
                                                i.fas.fa-sign-out-alt(style="margin-left : 4rem;")
                    -} else {
                        li.nav-item.signin-area
                            .d-flex
                                p='Do you have an account yet ?'
                                a.btn.btn-dark.btn-signin(href="/login" id='btn-signin') Sign In
                                a.btn.btn-dark.btn-signup(href="/user/register" id='btn-signup') Sign Up
                    -}
-if(brand) {
    .offcanvas.offcanvas-top#brand-expanded(aria-labelledby="offcanvasBrand")   
        .offcanvas-header
            h1.offcanvas-title#offcanvasBrand Brand
            button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
        .offcanvas-body
            ul.cd-filter
                li.filter
                    a(href="/product/all") All
                each brandItem in brand
                    li.filter
                        a(href=`/product/filter?id_brand=${brandItem.id}`)= brandItem.name            
-}